<div class ="deneme">
  <!--  <div style="background-size: 100%;" [ngStyle]="{backgroundImage:'url(./assets/images/brandenburgertor.jpg)'}" >-->
  <div style="background-size: 1550px 800px;" [ngStyle]="{backgroundImage:'url(./assets/images/brandenburgertor.jpg)'}" >
    <div class="mainbackground">

      <div class="container">

        <!--  <img src="assets/images/brandenburgertor.jpg" width="1600" height="800">-->
        <div class="main">
          <img src="assets/images/babas.png" width="100" height="100">

          <div class="center">
            <div class="container">
              <ul>
<!--                <li (click)="toHome()"><b><a href="#home">Start</a></b></li>-->
                <li><a routerLink="/home-component"  routerLinkActive="active" ariaCurrentWhenActive="page">Start</a></li>
                <li><a routerLink="/ueberuns-component"  routerLinkActive="active" ariaCurrentWhenActive="page">Über uns</a></li>
                <li><a routerLink="/first-component" routerLinkActive="active" ariaCurrentWhenActive="page">First Component</a></li>
                <li><b><a href="#leinstungen">Leistungen</a></b></li>
                <li><b><a href="#faq">Wohnungsauflösung</a></b></li>
                <li><b><a href="#contact">FAQ</a></b></li>
                <li><b><a href="#contact">Kontakt</a></b></li>
                <li><b><a href="#faq">ANFRAGEN</a></b></li>
              </ul>



            </div>

          </div>

        </div>
        <main>
        <router-outlet></router-outlet>
        </main>
      </div>
<!--      <div class="body1">-->
<!--        <div class="transbox">-->
<!--&lt;!&ndash;      <h1 style="text-align:center">This is heading 1</h1>&ndash;&gt;-->
<!--      <h5 style="color:white;">ENTRÜMPELUNGEN IN BERLIN UND BRANDENBURG</h5>-->
<!--      <h1>BABAS</h1>-->
<!--      <h1>DIENSTLEISTUNGEN</h1>-->
<!--      <h4  style="color:white;">Kostenlose Beratung und Transparente Festpreise</h4>-->
<!--      <h4  style="color:white;">Blitzschnelle Ausführung in 24-48 Stunden nach Auftragsfreigabe</h4>-->
<!--      <h4  style="color:white;">Fachgerechte Entsorgung und besenreine Übergabe durch eigenes Team</h4>-->
<!--          <section>-->
<!--            <button mat-raised-button>MEHR ERFAHREN >></button>-->
<!--          </section>-->
<!--        </div>-->
<!--      </div>-->
    </div>

  </div>

</div>
