<div class ="deneme">
  <!--  <div style="background-size: 100%;" [ngStyle]="{backgroundImage:'url(./assets/images/brandenburgertor.jpg)'}" >-->
  <div style="background-size: 1550px 800px;" [ngStyle]="{backgroundImage:'url(./assets/images/brandenburgertor.jpg)'}" >
    <div class="mainbackground">

      <div class="container">

        <!--  <img src="assets/images/brandenburgertor.jpg" width="1600" height="800">-->
        <div class="main">
          <img src="assets/images/babas.png" width="100" height="100">

          <div class="center">
            <div class="container">
              <ul>
<!--                <li (click)="toHome()"><b><a href="#home">Start</a></b></li>-->
                <li><b><a routerLink="/home-component"  routerLinkActive="active" ariaCurrentWhenActive="page">Start</a></b></li>
<!--                <li><b><a routerLink="/ueberuns-component"  routerLinkActive="active" ariaCurrentWhenActive="page">Über uns</a></b></li>-->
                <li><b><a routerLink="/ueberuns-component"  routerLinkActive="active" ariaCurrentWhenActive="page">Information</a></b></li>
<!--                <li><a routerLink="/first-component" routerLinkActive="active" ariaCurrentWhenActive="page">First Component</a></li>-->
                <li><b><a href="#leinstungen">Leistungen</a></b></li>
                <li><b><a href="#faq">Wohnungsauflösung</a></b></li>
                <li><b><a href="#contact">FAQ</a></b></li>
                <li><b><a href="#contact">Kontakt</a></b></li>
                <li><b><a href="#faq">ANFRAGEN</a></b></li>
              </ul>
            </div>
          </div>
        </div>
        <main>
        <router-outlet></router-outlet>
        </main>
      </div>

    </div>

  </div>

</div>

