<div class ="deneme">
  <!--  <div style="background-size: 100%;" [ngStyle]="{backgroundImage:'url(./assets/images/brandenburgertor.jpg)'}" >-->
  <div style="background-size: 1550px 800px;" [ngStyle]="{backgroundImage:'url(./assets/images/brandenburgertor.jpg)'}" >
    <div class="mainbackground">

      <div class="container">

        <!--  <img src="assets/images/brandenburgertor.jpg" width="1600" height="800">-->
        <div class="main">
          <img src="assets/images/babas.png" width="100" height="100">

          <div class="center">
            <div class="container">
              <ul>
                <li (click)="toHome()"><a href="#home">Start</a></li>
                <li (click)="toThird()"><a href="#news">Über uns</a></li>
                <li><a href="#leinstungen">Leistungen</a></li>
                <li><a href="#faq">Wohnungsauflösung</a></li>
                <li><a href="#contact">FAQ</a></li>
                <li><a href="#contact">Kontakt</a></li>
              </ul>



            </div>

          </div>

        </div>

      </div>
      <p>TONI Elektrotechnik in Korb ist seit über 12 Jahren auf dem Gebiet der Elektrotechnik und Elektroinstallation tätig. Unser Fokus liegt auf Elektroinstallationen, Gebäudetechnik, Elektroplanung, Beleuchtungstechnik, Netzwerktechnik, Sprechanlagen und Beratung. Dank unserer jahrelangen Erfahrung sorgen wir dafür, dass Ihre Elektroinstallationen effizient, zuverlässig und sicher sind. Unser qualifiziertes und erfahrenes Team ist bestrebt, Ihnen hochwertige Dienstleistungen zu angemessenen Preisen zu liefern. Wenn Sie in Korb oder Umgebung auf der Suche nach einem zuverlässigen und qualifizierten Elektroinstallations–Unternehmen sind, dann sind Sie bei TONI Elektrotechnik an der richtigen Adresse.
      </p>
      <p>TONI Elektrotechnik in Korb ist seit über 12 Jahren auf dem Gebiet der Elektrotechnik und Elektroinstallation tätig. Unser Fokus liegt auf Elektroinstallationen, Gebäudetechnik, Elektroplanung, Beleuchtungstechnik, Netzwerktechnik, Sprechanlagen und Beratung. Dank unserer jahrelangen Erfahrung sorgen wir dafür, dass Ihre Elektroinstallationen effizient, zuverlässig und sicher sind. Unser qualifiziertes und erfahrenes Team ist bestrebt, Ihnen hochwertige Dienstleistungen zu angemessenen Preisen zu liefern. Wenn Sie in Korb oder Umgebung auf der Suche nach einem zuverlässigen und qualifizierten Elektroinstallations–Unternehmen sind, dann sind Sie bei TONI Elektrotechnik an der richtigen Adresse.
      </p>
      <p>TONI Elektrotechnik in Korb ist seit über 12 Jahren auf dem Gebiet der Elektrotechnik und Elektroinstallation tätig. Unser Fokus liegt auf Elektroinstallationen, Gebäudetechnik, Elektroplanung, Beleuchtungstechnik, Netzwerktechnik, Sprechanlagen und Beratung. Dank unserer jahrelangen Erfahrung sorgen wir dafür, dass Ihre Elektroinstallationen effizient, zuverlässig und sicher sind. Unser qualifiziertes und erfahrenes Team ist bestrebt, Ihnen hochwertige Dienstleistungen zu angemessenen Preisen zu liefern. Wenn Sie in Korb oder Umgebung auf der Suche nach einem zuverlässigen und qualifizierten Elektroinstallations–Unternehmen sind, dann sind Sie bei TONI Elektrotechnik an der richtigen Adresse.
      </p>
      <p>TONI Elektrotechnik in Korb ist seit über 12 Jahren auf dem Gebiet der Elektrotechnik und Elektroinstallation tätig. Unser Fokus liegt auf Elektroinstallationen, Gebäudetechnik, Elektroplanung, Beleuchtungstechnik, Netzwerktechnik, Sprechanlagen und Beratung. Dank unserer jahrelangen Erfahrung sorgen wir dafür, dass Ihre Elektroinstallationen effizient, zuverlässig und sicher sind. Unser qualifiziertes und erfahrenes Team ist bestrebt, Ihnen hochwertige Dienstleistungen zu angemessenen Preisen zu liefern. Wenn Sie in Korb oder Umgebung auf der Suche nach einem zuverlässigen und qualifizierten Elektroinstallations–Unternehmen sind, dann sind Sie bei TONI Elektrotechnik an der richtigen Adresse.
      </p>
      <p>TONI Elektrotechnik in Korb ist seit über 12 Jahren auf dem Gebiet der Elektrotechnik und Elektroinstallation tätig. Unser Fokus liegt auf Elektroinstallationen, Gebäudetechnik, Elektroplanung, Beleuchtungstechnik, Netzwerktechnik, Sprechanlagen und Beratung. Dank unserer jahrelangen Erfahrung sorgen wir dafür, dass Ihre Elektroinstallationen effizient, zuverlässig und sicher sind. Unser qualifiziertes und erfahrenes Team ist bestrebt, Ihnen hochwertige Dienstleistungen zu angemessenen Preisen zu liefern. Wenn Sie in Korb oder Umgebung auf der Suche nach einem zuverlässigen und qualifizierten Elektroinstallations–Unternehmen sind, dann sind Sie bei TONI Elektrotechnik an der richtigen Adresse.
      </p>
      <p>TONI Elektrotechnik in Korb ist seit über 12 Jahren auf dem Gebiet der Elektrotechnik und Elektroinstallation tätig. Unser Fokus liegt auf Elektroinstallationen, Gebäudetechnik, Elektroplanung, Beleuchtungstechnik, Netzwerktechnik, Sprechanlagen und Beratung. Dank unserer jahrelangen Erfahrung sorgen wir dafür, dass Ihre Elektroinstallationen effizient, zuverlässig und sicher sind. Unser qualifiziertes und erfahrenes Team ist bestrebt, Ihnen hochwertige Dienstleistungen zu angemessenen Preisen zu liefern. Wenn Sie in Korb oder Umgebung auf der Suche nach einem zuverlässigen und qualifizierten Elektroinstallations–Unternehmen sind, dann sind Sie bei TONI Elektrotechnik an der richtigen Adresse.
      </p>
    </div>

  </div>

</div>
